@import '../../../styles/settings.scss';

.root {
  margin: 50px 0;

  .title {
    font-family: $secondary-font;
    font-size: 40px;
    text-align: center;
    color: $feature-border-color;
    margin-bottom: 30px;
  }
  .product {
    font-family: $primary-font;
    display: inline-flex;
    flex-direction: column-reverse;
    border: 1px dotted $second-font-color;
    margin-bottom: auto;

    .productPhotos {
      padding: 0;

      .photo {
        object-fit: cover;
        width: 100%;
      }
    }

    .productDescription {
      position: relative;
      display: flex;
      font-family: $primary-font;
      height: auto;
      padding: 0 30px 30px 30px;
      text-align: left;
      width: 100%;

      .subtitle {
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
      }

      .description {
        width: 60%;
        font-size: 15px;
        font-weight: 100;
      }

      .prices {
        width: 40%;

        .priceVariants {
          display: flex;

          flex-flow: column wrap;
          justify-content: center;

          .priceVariant {
            .amount {
              width: 45px;
              margin-right: 10px;
            }

            .priceDetail {
              display: inline;
              margin-left: 10px;
            }

            .button {
              top: 1%;
            }
          }
        }

        .exception {
          text-align: center;
          display: flex;
          color: red;
          width: 70%;
          margin: 50px auto;
        }
      }
    }
  }
}

// @media (max-width: 1000px) {
//   .root {
//     .product1 {
//       .productDescription {
//         .title {
//           font-size: 16px;
//         }

//         .description {
//           font-size: 13px;
//         }

//         .price {
//           font-size: 27px;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .root {
//     .product1 {
//       .productDescription {
//         .title {
//           font-size: 13px;
//         }

//         .description {
//           font-size: 11px;
//         }

//         .price {
//           font-size: 23px;
//           margin: 0 0 30px 30px;
//         }

//         .button {
//           padding: 30px;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 550px) {
//   .root {
//     .product1 {
//       .productPhoto {
//         width: 100%;
//       }

//       .productDescription {
//         text-align: center;
//         width: 100%;
//         height: 210px;

//         .price {
//           font-size: 23px;
//           margin: 0;
//           left: 80px;
//           bottom: 19px;
//         }

//         .button {
//           right: 30px;
//           bottom: 17px;
//           padding: 0;
//         }
//       }
//     }

//     .product2 {
//       .productPhoto {
//         order: 1;
//       }

//       .productDescription {
//         order: 2;
//       }
//     }
//   }
// }

// @media (max-width: 455px) {
//   .root {
//     .product1 {
//       .productDescription {
//         height: 240px;
//       }
//     }
//   }
// }

// @media (max-width: 400px) {
//   .root {
//     .product1 {
//       .productDescription {
//         height: 280px;

//         .price {
//           margin: 0;
//           left: 39%;
//           bottom: 18%;
//         }

//         .button {
//           right: 29%;
//           bottom: 4%;
//           padding: 0;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 370px) {
//   .root {
//     .product1 {
//       .productDescription {
//         height: 300px;

//         .price {
//           bottom: 16%;
//         }

//         .button {
//           right: 24%;
//         }
//       }
//     }
//   }
// }
