@import '../../../styles/settings.scss';

.root {
  display: inline-flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 50px 0;

  .title {
    font-family: $secondary-font;
    font-size: 40px;
    text-align: center;
    color: $feature-border-color;
    margin-bottom: 30px;
  }

  .product {
    font-family: $primary-font;
    display: inline-flex;
    flex-direction: column-reverse;
    margin: auto;
    align-items: center;

    .productPhotos {
      padding: 0;

      .photo {
        object-fit: cover;
        width: 100%;
      }
    }

    .productDescription {
      border: 1px dotted $second-font-color;
      position: relative;
      display: flex;
      font-family: $primary-font;
      height: auto;
      padding: 0 30px 30px 30px;
      text-align: left;
      width: 100%;

      .subtitle {
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
        margin-left: 40px;
      }

      .description {
        width: 60%;
        font-size: 15px;
        font-weight: 100;
      }

      .prices {
        width: 40%;

        .priceVariants {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          text-align: center;
          list-style-type: none;

          .priceVariant {
            .amount {
              width: 45px;
              margin: 0 10px 30px 0;
            }

            .priceDetail {
              display: block;
              margin-left: 10px;
            }

            .button {
              top: 1%;
            }
          }
        }

        .exception {
          text-align: center;
          display: flex;
          color: red;
          width: 70%;
          margin: 50px auto;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .root {
    .product {
      .productDescription {
        .prices {
          .priceVariants {
            .priceVariant {
              margin-bottom: 30px;
              .amount {
                margin: 0;
              }
              .priceDetail {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
