@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Ephesis&family=Fleur+De+Leah&family=Lato&display=swap');

$base-size: 12px;

$base-color: #74b674;
$navbar-color: #3d7c3d;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Ephesis', cursive;
$header-font: 'Bonheur Royale', cursive;
