@import '../../../styles/settings.scss';

.root {
  border: 1px solid $feature-border-color;
  text-align: center;
  margin-top: 40px;
  height: 155px;

  .iconWrapper {
    height: 60px;
    transform: translateY(-50%);
    color: $base-font-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .icon {
      position: relative;
      z-index: 9;
    }

    &::before {
      content: '';
      border: 1px solid $feature-border-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76px;
      height: 76px;
      border-radius: 100%;
      background-color: $base-color;
      z-index: -1;
    }

    &::after {
      content: '';
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $feature-border-color;
    }
  }

  .content {
    text-transform: uppercase;
    color: $base-font-color;
    margin-top: -0.5rem;
    letter-spacing: 1px;
    font-weight: 300;

    h5 {
      font-weight: 600;
    }

    p {
    }
  }

  &:hover {
    .iconWrapper {
      color: $second-font-color;

      &::after {
        background-color: $navbar-color;
        border-color: $navbar-color;
      }
    }

    .content {
      color: $second-font-color;
    }
  }
}

@media (max-width: 1200px) {
  .root {
    height: 80%;
  }
}

@media (max-width: 992px) {
  .root {
    height: 80%;
  }
}
@media (max-width: 850px) {
  .root {
    height: 90%;

    .content {
      font-size: 15px;
    }
  }
}
