@import '../../../styles/settings.scss';

.root {
  text-align: center;

  .productsTitle {
    font-family: $secondary-font;
    color: $second-font-color;
    font-size: 40px;
    margin-top: 50px;
  }
}
